/*sizes*/
.phone-size
{
  width: 600px;
  height: 800px;
}
.fit-width
{
  min-width: fit-content;
  max-width: fit-content;
}
.fit-min
{
  min-width: fit-content;
  /*min-height: fit-content;*/
}
.col-sm
{
    width: 10dvw;
}
.mb-s
{
  margin-bottom: var(--half-text);
}
.mb-m
{
  margin-bottom: var(--text-sm);
}
.ml-m
{
  margin-left: var(--text-sm);
}
.ml-lg
{
  margin-left: var(--text-m);
}
.mr-m
{
  margin-right: var(--text-sm);
}
.mt-s
{
  margin-top: var(--half-text);
}
.mt-m
{
  margin-top: var(--text-sm);
}
.mt-lg
{
  margin-top: 8vh;
}
.mx-s
{
  margin: 0em var(--half-text);
}
.pb-m
{
  padding-bottom: var(--text-sm);
}
.pl-m
{
  padding-left: var(--text-sm);
}
.pr-m
{
  padding-right: var(--text-sm);
}
.px-s
{
  padding: 0px var(--half-text);
}
.px-m
{
  padding: 0px var(--text-sm);
}
.pt-m
{
  padding-top: var(--text-sm);
}