/*types*/
.spider-key
{
  position: relative;
}
.spider-option
{
  padding: var(--half-text);
  align-self: flex-start;
  font-family: var(--reg-font);
  font-size: var(--text-reg);
  background-color: var(--btn-lg);
}
.spider-option:hover
{
  color:aquamarine;
}
.spider-option:active
{
  background-color: rgb(71, 71, 71);
}
.spider-option:nth-of-type(2)
{
  align-self: flex-end;
}