button.book-viewer {
  margin-right: -0.25em;
  margin-left: -0.25em;
}
button.book-viewer:hover {
  color: var(--gray-1);
}
/*change display*/
text.book-viewer {
  display: inline-block;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: var(--gray-2);
}
a::selection {
  color: var(--red-2);
}
a:focus {
  color: var(--blue-2);
}
@media (width > 768px) {
  img.book-viewer {
    /* width: 70vw; */
    height: 70vh;
  }
}
@media (width < 768px) {
  .main {
    margin-top: 1em;
  }
  img.book-viewer {
    width: 60vw;
  }
  button.book-viewer {
    font-size: var(--text-lg);
  }
}
@media (width < 540px) {
  img.book-viewer {
    width: 40vh;
  }
  button.book-viewer {
    font-size: var(--text-m);
  }
}
